/*
Design Theme: I am using the material.io dark mode design theme. Here is a link:
https://material.io/design/color/dark-theme.html#ui-application
I'm a big fan of Dark Mode UI so the choice was natural.
*/
body{
  font-family: 'Noto Sans', sans-serif;
  background-color: #121212;
  color: #FFFFFF;
  opacity: .87;
}

h1{
  font-size: 113px;
  letter-spacing: -1.5px;
  font-weight: 300;
}
.subtitle{
  font-size: 19px;
  letter-spacing: .15px;
  font-weight: 400;
}
h2{
  font-size: 71px;
  letter-spacing: -.5px;
  font-weight: 300;
}
h3{
  font-size: 56px;
  letter-spacing: 0px;
  font-weight: 400;
}
p{
  font-size: 16px;
  letter-spacing: .5px;
  font-weight: 400;
}
footer{
  opacity: .6;
}
a{
  color: #FFFFFF;
  letter-spacing: .5px;
  font-weight: 400;
}
figcaption{
  color: #FFFFFF;
  opacity: .6;
}
